@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    background-color: aqua;
    font-family: 'Poppins',sans-serif;
}
#nav{
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 70px;
}
#nav .heading{
  font-size: 3rem;
  padding: 10px;
  background-color: #4CAF50;
}
#nav .links{
  margin: 30px 30px;
  padding: 5px;

}
#nav a{
  text-decoration: none;
  padding: 10px;
  background-color: #4CAF50;
  border-radius: 2px;
}
#nav a:hover{
  background-color: #af4c81;
}
form {
     margin: 20px 400px;  
}

