<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/clinicaldata_formstyle.css'%}">
    <title>Clinical Data Creation</title>
</head>
<body>
    <div id="nav">
        <div class="heading">Patient Clinical Data:</div>
    <div class="links">
        <a href="/clinicalsapp/patientlist">Home</a>
        <a href="/clinicalsapp/logout">Logout</a>  
  </div>
</div>
<section id='container'>
    <div class="details">Patient Details</div>
    <div class="info">
    First Name:{{patient.firstName}} <br>
    Last Name:{{patient.lastName}} <br>
    Age:{{patient.age}} <br>
</div>
</section> 
   

<form method="post">
        <table>
            {{form.as_table}}
        </table>
       {%csrf_token%}
       <input type="submit" value="Save">
    </form>
</body>
</html>