<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/generate_reportstyle.css'%}">
    <title>Clinical Data Report</title>
</head>
<body>
    <div id="nav">
        <div class="heading">Clinical Data Report</div>
    <div class="links">
        <a href="/clinicalsapp/patientlist">Home</a>
        <a href="/clinicalsapp/logout">Logout</a>  
  </div>
</div>
<section id='container'>
    <div class="details">Patient Details</div>
    <div class="info">
    First Name:{{patient.firstName}} <br>
    Last Name:{{patient.lastName}} <br>
    Age:{{patient.age}} <br>
</div>
</section> 
<table>
    <thead>
        <th>Component Name</th>
        <th>Component Value</th>
        <th>Measure Date Time</th>
    </thead>
    {%for eachEntry in data%}
    <tr>
        <td>{{eachEntry.componentName}}</td>
        <td>{{eachEntry.componentValue}}</td>
        <td>{{eachEntry.measuredDateTime}}</td>
    </tr>
    {%endfor%}
</table>
</body>
</html>